<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".MasterApplication"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".instagram.EmailSignupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".android_study.Permission"></activity>
        <activity android:name=".android_study.RetrofitActivity" />
        <activity android:name=".android_study.NetworkActivity" />
        <activity android:name=".android_study.Async_Activity" />
        <activity android:name=".android_study.RealmActivity" />
        <activity android:name=".android_study.SharedPreferenceActivity" />
        <activity android:name=".android_study.TabPager2Activity" />
        <activity android:name=".android_study.TabPagerActivity" />
        <activity android:name=".android_study.PhoneBookRecyclerView" />
        <activity android:name=".android_study.RecyclerViewActivity" />
        <activity android:name=".android_study.ListViewActivity" />
        <activity android:name=".android_study.DiaryActivity" />
        <activity android:name=".android_study.PhoneBookDetailActivity" />
        <activity android:name=".android_study.PhoneBookActivity" />
        <activity android:name=".android_study.Test3" />
        <activity android:name=".android_study.AddViewActivity" />
        <activity android:name=".android_study.LibraryActivity" />
        <activity android:name=".android_study.ThreadActivity" />
        <activity android:name=".android_study.Context" />
        <activity android:name=".android_study.Resource" />
        <activity android:name=".android_study.NullSafety" />
        <activity android:name=".android_study.FragmentActivity" />
        <activity android:name=".android_study.OpenInternet" />
        <activity android:name=".android_study.Test2" />
        <activity android:name=".android_study.Intent2" />
        <activity android:name=".android_study.Intent1" />
        <activity android:name=".android_study.Calculator" />
        <activity android:name=".android_study.Test" />
        <activity android:name=".android_study.Listener" />
        <activity android:name=".android_study.MainActivity" />
    </application>

</manifest>